<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Cart:</strong>
  <% @user.items.each do |item| %>
     <%= item.title %>
     <%= item.description %>
     <%= item.price %>
  <% end %>
</p>


<p>
  <strong>Order:</strong>
  <% @user.orders.each do |order| %>
     <% order.items.each do |item| %> 
     <%= item.title %>
     <% end %>
  <% end %>
</p>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
