<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @card.number %>
</p>

<p>
  <strong>Cvv:</strong>
  <%= @card.cvv %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @card.expiration %>
</p>

<p>
  <strong>User:</strong>
  <%= @card.user %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
